* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: antiquewhite;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: #adb5bd;
    width: max-content;
    padding: 30px 15px 20px 15px;
    margin: 50px auto;
}

.btn-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #e9ecef;
    color: #495057;
}

.btn.digit:hover {
    background-color: #f8f9fa;
    border: 2px solid #dee2e6;
    cursor: pointer;
}

.btn.digit:active {
    background-color: #343a40;
    color: #f1f3f5;
    cursor: pointer;
}

.btn.oper:hover {
    /* background-color: #868e96; */
    border: 2px solid #868e96;
    /* color: #343a40; */
    cursor: pointer;
}

.btn.oper:active {
    background-color: #e9ecef;
    border: 2px solid #868e96;
    color: #495057;
    cursor: pointer;
}

.btn.clear:hover {
    background-color: #ff6b6b;
    border: 2px solid #fa5252;
    cursor: pointer;
}

.btn.clear:active {
    background-color: #973131;
    border: 2px solid #e94c4c;
    cursor: pointer;
}

.display-text {
    font-family: 'Electrolize', sans-serif;
    font-size: 32px;
    padding-right: 10px;
}

.clear {
    background-color: #f03e3e;
    color: #f1f3f5;
    text-transform: capitalize;
}

.oper {
    background-color: #495057;
    color: #f1f3f5;
}

.display {
    display: grid;
    background-color: #e6fcf5;
    color: #495057;
    height: 40px;
    grid-column: 1 / -1;
    align-content: center;
    justify-content: end;
    width: 190px;
    overflow: hidden;
}

.btn, .display, .calculator {
    border-radius: 4px;
}